[Unit]
Description=DevOps Server
Wants=network-online.target
After=network-online.target

[Service]
User=hyperuser
Group=hyperuser
Type=exec
TimeoutStartSec=86400
TimeoutStopSec=122
RestartSec=122
Restart=on-failure
ExecStart=/var/home/hyperuser/bin/devopsctl start
ExecStop=/var/home/hyperuser/bin/devopsctl stop

[Install]
WantedBy=basic.target
